version: "3.7"

networks:
  monitoring-net:
    name: monitoring-net
  mojaloop-net:
    name: mojaloop-net
    external: true

volumes:
    vol_prometheus_data: {}
    vol_grafana_data: {}

services:

  prometheus:
    image: prom/prometheus:v2.45.0
    volumes:
      - ./docker/prometheus/:/etc/prometheus/
      - vol_prometheus_data:/prometheus/
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--enable-feature=native-histograms' # Ref: https://prometheus.io/docs/concepts/metric_types/#histogram, https://k6.io/docs/results-output/real-time/prometheus-remote-write/#send-test-metrics-to-a-remote-write-endpoint
      - '--web.enable-remote-write-receiver' # Ref: https://prometheus.io/docs/prometheus/latest/feature_flags/#remote-write-receiver
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - cadvisor:cadvisor
      #- alertmanager:alertmanager
      #- pushgateway:pushgateway
    depends_on:
      - cadvisor
      #- pushgateway
    networks:
      - mojaloop-net
      - monitoring-net
    restart: always
    # deploy:
    #   placement:
    #     constraints:
    #       - node.hostname == ${HOSTNAME}

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
    command: 
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    networks:
      - mojaloop-net
      - monitoring-net
    restart: always
    deploy:
      mode: global

  # alertmanager:
  #   image: prom/alertmanager
  #   ports:
  #     - 9093:9093
  #   volumes:
  #     - ./docker/alertmanager/:/etc/alertmanager/
  #   networks:
  #     - mojaloop-net
  #     - monitoring-net
  #   restart: always
  #   command:
  #     - '--config.file=/etc/alertmanager/config.yml'
  #     - '--storage.path=/alertmanager'
  #   # deploy:
  #   #   placement:
  #   #     constraints:
  #   #       - node.hostname == ${HOSTNAME}

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080
    networks:
      - mojaloop-net
      - monitoring-net
    restart: always
    deploy:
      mode: global

  grafana:
    image: grafana/grafana:10.0.2
    user: "472"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - vol_grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./docker/grafana/config.monitoring
    networks:
      - mojaloop-net
      - monitoring-net
    restart: always
