version: "3.7"

networks:
  mojaloop-net:
    name: mojaloop-net

services:

  ## Switch
  central-ledger:
#    image: mojaloop/central-ledger:${CENTRAL_LEDGER_VERSION}
    build:
      context: ../central-ledger
    container_name: central-ledger
    command: sh -c "/opt/app/config-modifier/run.js /opt/app/config/default.json /opt/app/config-modifier/configs/central-ledger.js /opt/app/config/default.json && /opt/app/wait4/wait4.js central-ledger && node src/api/index.js"
    ports:
       - "3001:3001"
    volumes:
       - ./docker/wait4:/opt/app/wait4
       - ./docker/config-modifier:/opt/app/config-modifier
    environment:
      - LOG_LEVEL=info
      - CLEDG_MONGODB__DISABLED=false
    networks:
      - mojaloop-net
    depends_on:
      mysql:
        condition: service_started
      kafka:
        condition: service_started
      objstore:
        condition: service_healthy
    healthcheck:
      test: wget -q http://localhost:3001/health -O /dev/null || exit 1
      timeout: 20s
      retries: 30
      interval: 30s
      start_period: 30s
    user: root
    profiles:
      - central-ledger
      - transfer
      - discovery
      - agreement
      - all-services
      - simple

  objstore:
    image: mongo:${DEP_MONGO_VERSION}
    container_name: objstore
    ports:
      - "27017:27017"
    networks:
      - mojaloop-net
    healthcheck:
      test: mongosh --eval 'db.runCommand("ping").ok' localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    profiles:
      - central-ledger
      - transfer
      - discovery
      - agreement
      - all-services
      - simple

  kafka-provisioning:
    container_name: kafka-provisioning
    networks:
      - mojaloop-net
    image: docker.io/bitnami/kafka:${DEP_KAFKA_VERSION}
    depends_on:
      - kafka
    volumes:
      - ./docker/kafka/scripts:/tmp/kafka/scripts
    command: bash /tmp/kafka/scripts/provision.sh
    profiles:
      - central-ledger
      - transfer
      - discovery
      - agreement
      - all-services
      - simple

  kafka:
    networks:
      - mojaloop-net
    image: docker.io/bitnami/kafka:${DEP_KAFKA_VERSION}
    container_name: kafka
    # ports:
    #   - "9092:9092"
    environment:
      # BITNAMI_DEBUG: "yes"
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_CFG_LISTENERS: CONTROLLER://:9093,LISTENER_DOCKER://kafka:29092,LISTENER_EXTERN://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: LISTENER_DOCKER://kafka:29092,LISTENER_EXTERN://:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,LISTENER_DOCKER:PLAINTEXT,LISTENER_EXTERN:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CFG_MESSAGE_MAX_BYTES: 200000000
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@127.0.0.1:9093
      KAFKA_ENABLE_KRAFT: "true"
    healthcheck:
      test: ["CMD" ,"/opt/bitnami/kafka/bin/kafka-broker-api-versions.sh","--bootstrap-server","kafka:9092"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s
    profiles:
      - central-ledger
      - transfer
      - discovery
      - agreement
      - all-services
      - simple

  mysql:
    image: mysql/mysql-server:${DEP_MYSQL_VERSION}
    container_name: mysql
    # ports:
    #   - "3306:3306"
    volumes:
      # Note: this fixes the permissions issue, but docker-compose up will fail on first attempt
      - ./docker/sql-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-central_ledger}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-central_ledger}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s
    profiles:
      - central-ledger
      - transfer
      - discovery
      - agreement
      - all-services
      - simple

  quoting-service:
    image: "mojaloop/quoting-service:${QUOTING_SERVICE_VERSION}"
    container_name: quoting-service
    command: sh -c "/opt/app/config-modifier/run.js /opt/app/config/default.json /opt/app/config-modifier/configs/quoting-service.js /opt/app/config/default.json && node src/index.js"
    networks:
      - mojaloop-net
    depends_on:
      mysql:
        condition: service_started
      central-ledger:
        condition: service_started
    # ports:
    #   - "3002:3002"
    volumes:
      - ./docker/config-modifier:/opt/app/config-modifier
    healthcheck:
      test: wget -q http://0.0.0.0:3002/health -O /dev/null || exit 1
      timeout: 20s
      retries: 30
      interval: 15s
    user: root
    profiles:
      - quoting-service
      - agreement
      - all-services
      - simple

  ml-api-adapter:
    image: mojaloop/ml-api-adapter:${ML_API_ADAPTER_VERSION}
    container_name: ml-api-adapter
    command: sh -c "/opt/app/config-modifier/run.js /opt/app/config/default.json /opt/app/config-modifier/configs/ml-api-adapter.js /opt/app/config/default.json && /opt/app/wait4/wait4.js ml-api-adapter && node src/api/index.js"
    # ports:
    #   - "3000:3000"
    volumes:
      - ./docker/wait4:/opt/app/wait4
      - ./docker/config-modifier:/opt/app/config-modifier
    environment:
      - LOG_LEVEL=info
    networks:
      - mojaloop-net
    depends_on:
      kafka:
        condition: service_started
      central-ledger:
        condition: service_started
    healthcheck:
      test: wget -q http://localhost:3000/health -O /dev/null || exit 1
      timeout: 30s
      retries: 30
      interval: 30s
      start_period: 30s
    user: root
    profiles:
      - ml-api-adapter
      - transfer
      - all-services
      - simple

  simulator:
    image: mojaloop/simulator:${TEST_SIMULATOR_VERSION}
    container_name: simulator
    # ports:
    #   - "8444:8444"
    environment:
      - LOG_LEVEL=info
      - TRANSFERS_ENDPOINT=http://ml-api-adapter:3000
      - QUOTES_ENDPOINT=http://quoting-service:3002
      - PARTIES_ENDPOINT=http://account-lookup-service:4002
      - TRANSACTION_REQUESTS_ENDPOINT=http://transaction-request-service:4003
      - TRANSFERS_FULFIL_RESPONSE_DISABLED=false
    networks:
      - mojaloop-net
    healthcheck:
      test: wget -q http://0.0.0.0:8444/health -O /dev/null || exit 1
      timeout: 20s
      retries: 10
      interval: 30s
    profiles:
      - simulator
      - discovery
      - all-services
      - simple

  account-lookup-service:
    image: mojaloop/account-lookup-service:${ACCOUNT_LOOKUP_SERVICE_VERSION}
    container_name: account-lookup-service
    command: sh -c "/opt/app/config-modifier/run.js /opt/app/config/default.json /opt/app/config-modifier/configs/account-lookup-service.js /opt/app/config/default.json && /opt/app/wait4/wait4.js account-lookup-service && npm run migrate && node src/index.js server"
    # ports:
    #   - "4001:4001"
    #   - "4002:4002"
    environment:
      - LOG_LEVEL=info
      - ALS_DISPLAY_ROUTES=false
      - EVENT_SDK_TRACEID_PER_VENDOR=false
    networks:
      - mojaloop-net
    depends_on:
      mysql-als:
        condition: service_started
      central-ledger:
        condition: service_started
      simulator:
        condition: service_healthy
    volumes:
      - ./docker/wait4:/opt/app/wait4
      - ./docker/config-modifier:/opt/app/config-modifier
    healthcheck:
      test: wget -q http://localhost:4001/health -O /dev/null || exit 1
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s
    user: root
    profiles:
      - account-lookup-service
      - discovery
      - all-services
      - simple

  mysql-als:
    image: mysql/mysql-server:${DEP_MYSQL_VERSION}
    container_name: mysql-als
    # ports:
    #   - "3307:3306"
    volumes:
      - ./docker/sql-als-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-account_lookup}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-account_lookup}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql-als"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s
    profiles:
      - account-lookup-service
      - discovery
      - all-services
      - simple

  reporting-hub-bop-positions-ui:
    container_name: reporting-hub-bop-positions-ui
#    image: mojaloop/reporting-hub-bop-positions-ui
    build:
      context: ../reporting-hub-bop-positions-ui
      cache_from:
        - mojaloop/reporting-hub-bop-positions-ui
    environment:
      - CENTRAL_LEDGER_ENDPOINT=http://localhost:3001
    ports:
      - "8084:8084"
    networks:
      - mojaloop-net
    healthcheck:
      test: wget -q http://172.17.0.1:8084 -O /dev/null || exit 1
      timeout: 20s
      retries: 30
      interval: 15s
    profiles:
      - simple

  reporting-hub-bop-shell:
    profiles: ["shell","simple"]
    container_name: reporting-hub-bop-shell
    image: mojaloop/reporting-hub-bop-shell
    build:
      context: .
      cache_from:
        - mojaloop/reporting-hub-bop-shell
    environment:
      - LOGIN_URL=http://127.0.0.1:4455/.ory/kratos/public/self-service/login
      - LOGOUT_URL=http://127.0.0.1:4455/.ory/kratos/public/self-service/logout/browser
      - AUTH_TOKEN_URL=http://127.0.0.1:4455/.ory/kratos/public/sessions/whoami
      - AUTH_ENABLED=false
      - AUTH_API_BASE_URL=/
      - AUTH_MOCK_API=false
      - REMOTE_API_BASE_URL=/
      - REMOTE_MOCK_API=false
      - REMOTE_1_URL=http://localhost:8081
      - REMOTE_2_URL=http://localhost:8082
      - REMOTE_3_URL=http://localhost:8083
      - REMOTE_4_URL=http://localhost:8084
    ports:
      - "8080:8080"
    networks:
      - mojaloop-net
    healthcheck:
      test: wget -q http://172.17.0.1:8080 -O /dev/null || exit 1
      timeout: 20s
      retries: 30
      interval: 15s

  ## Testing Toolkit
  mojaloop-testing-toolkit:
    image: mojaloop/ml-testing-toolkit:${TEST_TTK_SVC_VERSION}
    volumes:
      - "./docker/ml-testing-toolkit/spec_files:/opt/app/spec_files"
      - "./docker/ml-testing-toolkit/test-cases:/opt/app/examples"
    ports:
      - "9440:4040"
      - "9550:5050"
    user: root
    command:
      - sh
      - -c
      - "npm start"
    networks:
      - mojaloop-net
    healthcheck:
      test: ["CMD-SHELL", "nc -z -v localhost 4040"]
      interval: 5s
      timeout: 10s
      start_period: 10s
      retries: 10
    profiles:
      - testing-toolkit
      - all-services
      - simple

  mojaloop-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:${TEST_TTK_UI_VERSION}
    ports:
      - "9660:6060"
    environment:
      - API_BASE_URL=http://localhost:9550
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
    networks:
      - mojaloop-net
    profiles:
      - testing-toolkit
      - all-services
      - simple

  ttk-provisioning:
    image: mojaloop/ml-testing-toolkit-client-lib:${TEST_TTK_CLI_VERSION}
    volumes:
      - "./docker/ml-testing-toolkit/test-cases/collections:/opt/app/collections"
      - "./docker/ml-testing-toolkit/test-cases/environments:/opt/app/environments"
      - "./reports:/opt/app/reports"
    depends_on:
      mojaloop-testing-toolkit:
        condition: service_healthy
      central-ledger:
        condition: service_healthy
      ml-api-adapter:
        condition: service_healthy
      account-lookup-service:
        condition: service_healthy
      quoting-service:
        condition: service_healthy
    networks:
      - mojaloop-net
    command:
      - sh
      - -c
      - "npm run cli -- -u http://mojaloop-testing-toolkit:5050 -l 2 -i collections/provisioning-simple -e environments/default-env-simple.json --save-report true --report-format html --report-target file://reports/ttk-provisioning-report.html"
    user: root
    profiles:
      - ttk-provisioning
      - simple

  ttk-tests:
    image: mojaloop/ml-testing-toolkit-client-lib:${TEST_TTK_CLI_VERSION}
    volumes:
      - "./docker/ml-testing-toolkit/test-cases/collections:/opt/app/collections"
      - "./docker/ml-testing-toolkit/test-cases/environments:/opt/app/environments"
      - "./reports:/opt/app/reports"
    depends_on:
      mojaloop-testing-toolkit:
        condition: service_healthy
      central-ledger:
        condition: service_healthy
      ml-api-adapter:
        condition: service_healthy
      account-lookup-service:
        condition: service_healthy
      quoting-service:
        condition: service_healthy
      ttk-provisioning:
        condition: service_completed_successfully
    networks:
      - mojaloop-net
    command:
      - sh
      - -c
      - "npm run cli -- -u http://mojaloop-testing-toolkit:5050 -l 2 -i collections/tests -e environments/default-env.json --report-format html --save-report true --report-target file://reports/ttk-func-tests-report.html"
    user: root
    profiles:
      - ttk-tests
      - simple

  ## Debug utilities
  kafka-debug-ui:
    image: docker.redpanda.com/redpandadata/console:${DEP_KAfKA_UI_VERSION}
    deploy:
      replicas: 1
    restart: on-failure
    hostname: kafka-debug-ui
    ports:
      - "8080:8080"
    networks:
      - mojaloop-net
    environment:
      - KAFKA_BROKERS=kafka:29092
    depends_on:
      - kafka
    profiles:
      - debug
